body {
    background: #f8f8f8
}

.main-body {
    width: 76%;
    margin:auto;
    background: white;
}

.container {
    margin: 5vh 0 5vh 0;
    display: flex;
    min-height: 100vh;
}

.right {
    padding: 50px;
    width: 100%;
}

.hey {
    font-size: 3.5rem!important;
    line-height: 1.5rem!important;
}

.block > .name {
    font-size: 110%;
    font-weight: bold;
}

.block > .muted {
    opacity: 0.5;
}

.block > .name > .muted {
    opacity: 0.5;
}

.padded {
    padding: 10px;
}

.padded-more {
    padding: 0 15px;
}

.label {
    margin: 2px!important;
}

.extras {
    padding: 50px 80px;
    margin-bottom: 5vh;
}

.container2 {
    display: flex;
}